<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/footer-inscription.css">
    <link rel="stylesheet" href="/CSS/connexion.css">
    <link rel="stylesheet" href="/CSS/panier.css">
    <link rel="stylesheet" href="/CSS/header-fav-paie.css">
    <link rel="stylesheet" href="/CSS/accueil.css">
    <link rel="stylesheet" href="/CSS/gerant.css">
    
    <link rel="stylesheet" href="/CSS/produit.css">
    <link rel="stylesheet" href="/CSS/autres_produits.css">
 
 
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <header>
        <div class="top-header">
          <div class="logo">
              <a href="/">
                <img src="/img/logo.png" alt="LocFit Logo" width="120">
              </a>
          </div>

          <div class="search-bar">
              <input type="text" placeholder="   Rechercher">
              <button><i class="fa fa-search"></i></button>
          </div>

          <div class="icons">
                <a href="favoris"><i class="fa-regular fa-heart fa-xl" style="color: #ffffff;"></i></a>
                <a href="panier"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a>
                <a href="/co"><i class="fa-regular fa-user fa-2x" style="color: #ffffff;"></i></a>
          </div>
      </div>

      <nav class="bottom-header">
          <a href="catalogue_categorie">Nouveautés</a>
          <a href="catalogue_produit">Produits</a>
          <a href="/ajout_gerant">Liste gérants</a>
      </nav>
  </header>





    <img src="/img/fond_accueil.png" class="background-image-deco" alt="image de presentation">


    <h1>Les catégories</h1>

    <div class="liste-categorie">
        <a href="/gerant/catalogue_produit?filtre=type&valeur=vetements" class="categorie-lien">
            <img src="/img/vetement.jpg" class="categorie-illu">
            <h4>Vetements</h4>
        </a>
        <a href="/gerant/catalogue_produit?filtre=type&valeur=équipement" class="categorie-lien">
            <img src="/img/equipement.jpg" class="categorie-illu">
            <h4>Équipement</h4>
        </a>
        <a href="/gerant/catalogue_produit?filtre=type&valeur=appareils" class="categorie-lien">
            <img src="/img/appareil.jpg" class="categorie-illu">
            <h4>Appareils</h4>
        </a>
        <a href="/gerant/catalogue_produit?filtre=type&valeur=nutrition" class="categorie-lien">
            <img src="/img/Nutrition.png" class="categorie-illu">
            <h4>Nutrition</h4>
        </a>
    </div>

    <div class="liste-plus-aime">
        <h1>Les plus aimés</h1>
    </div>

        <ul class="liked-products-cont">
            <% for (element of produits_aime){ %>
                <a href="produit/<%= element.id %>">
                    <li class="liked-products">
                        <% let illustration = element.image %>
                        <% let nom_produit = element.marque + " " + element.modele %>
                        <img src="<%= illustration.toLowerCase() %>" class="liked-img">
                        <strong>
                            <%= element.marque %> 
                            <br>
                        </strong>
                        <%= element.modele %>

                    </li> 
                </a>
            <% } %>
        </ul>









<%- include("../footer") %>

