<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocFit</title>
    <link rel="icon" href="logo-ico.ico" type="image/ico">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/footer-inscription.css">
    <link rel="stylesheet" href="/CSS/connexion.css">
    <link rel="stylesheet" href="/CSS/panier.css">
    <link rel="stylesheet" href="/CSS/header-fav-paie.css">
    <link rel="stylesheet" href="/CSS/accueil.css">
    <link rel="stylesheet" href="/CSS/gerant.css">
    
    <link rel="stylesheet" href="/CSS/produit.css">
    <link rel="stylesheet" href="/CSS/autres_produits.css">
 
 
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <header>
        <div class="top-header">
          <div class="logo">
              <a href="/logo-accueil">
                <img src="/img/logo.png" alt="LocFit Logo" width="120">
              </a>
          </div>

          <div class="search-bar">
              <input type="text" placeholder="   Rechercher">
              <button><i class="fa fa-search"></i></button>
          </div>

          <div class="icons">
                <a href="/favoris"><i class="fa-regular fa-heart fa-xl" style="color: #ffffff;"></i></a>
                <a href="/panier"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a>
                <a href="/co"><i class="fa-regular fa-user fa-2x" style="color: #ffffff;"></i></a>
          </div>
      </div>

      <nav class="bottom-header">
          <a href="/catalogue_categorie">Nouveautés</a>
          <a href="/catalogue_produit">Produits</a>
          <a href="/liste_gerant">Liste gérants</a>
      </nav>
  </header>

<br><br><br>

<div class="gerants-holder">
    
        <% for (let element of gerants) { %>
           <% let username = element.login %>
           <% let nom = element.nom %>
            <% let prenom = element.prenom %>
            <% let mail = element.email %>
    
        
        <div class="gerant-info">
            <p>
                    <p><strong>Username : </strong><%= username %></p>
                    <p><strong>Nom : </strong> <%= nom %></p>
                    <p><strong>Prénom : </strong><%= prenom %></p>
                    <p><strong>Mail : </strong><%= mail %></p><br>

                    <div class="separateur_gerant"></div>
            </p>
        </div>
    <% } %>

<div class="gerant_bouton_center">
<a href="/admin/ajout_agent" class="ajout_gerant_bouton">
    Ajouter un agent 
</a>
</div>
</div>
<%- include("../footer") %>