<%- include("header") %>


    <h1 class="hgerant">Ajouter/supprimer un produit</h1>

    <div class="ajout-produit-container">
        <form action="/ajouter-produit" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="description">Marque</label>
                <input type="text" name="marque" id="marque" placeholder="Veuillez entrer le nom de la marque"></input>
            </div>

            <div class="form-group">
                <label for="description">Modèle</label>
                <input type="text" name="modele" id="modele" placeholder="Veuillez entrer le modèle précis"></input>
            </div>

            <div class="form-group">
                <label for="categorie">Catégorie</label>
                <select name="categorie" id="categorie">
                    <option value="">Sélectionner une catégorie</option>
                    <option value="vetements">Vetements</option>
                    <option value="accessoires">Nutrition</option>
                    <option value="chaussures">Appareils</option>
                    <option value="chaussures">Équipement</option>
                </select>
            </div>

            <div class="form-group">
                <label for="prix">Définir le prix</label>
                <input type="number" name="prix" id="prix" step="0.01" placeholder="Prix">
            </div>

            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input type="number" name="quantite" id="quantite" min="1" placeholder="Quantité">
            </div>

            <div class="form-group">
                <label for="image">Importer une image</label>
                <input type="file" name="image" id="imageimport" accept="/img/produits/">
            </div>

            <div class="form-group description">
                <label for="description">Description</label>
                <input name="description" id="description" placeholder="Décrivez le produit..."></input>
            </div>
            <div class="ajout_supp">
                <button type="submit">Ajouter le produit</button>
            </div>
        </form>
    </div>









    <div class="recherche-produit">
        <form action="/rechercher_suppression" method="POST" class="recherche-produit recherche-suppresion">
            <input type="text" name="search" id="search" placeholder="Rechercher un modèle ou une marque">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="liste-produits">

        <% for (element of produits_suppr){ %>
            <div class="produit-suppression">
                <% let marque = element.marque%>
                <% let modele =element.modele %>
                <% let image = element.image %>
                <img src="<%= image %>" class="catalogue-produit-img">
                <div class="catalogue-produit-info">
                    <strong>
                        <%= marque %> 
                    </strong>
                    <%= modele %>

                </div>
                        
                <form action="/supprimer-produit" method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="<%= element.id %>">
                    <button type="submit" class="supprimer-produit">Supprimer</button>
                </form>
                    
            </div>
            <% } %>



    </div>



<%- include("../footer") %>
