<%- include("header") %>
<link rel="stylesheet" href="/CSS/catalogue-produit.css">


    <h1> Tout les produits</h1>
    <h5> Ici, vous pouvez accéder à notre liste complète de produits disponibles</h5>
    <tri>
        <p class="trier-par"> Trier par </p>
        <div class="tri-cont">
            <ul class="sous-menu-holder">
                <li class="sous-menu"> <a href="#" class="lien-menu">Prix &ensp;</a>
                    <ul>
                        <li> <a href="#"> Croissant </a></li>
                        <li> <a href="#"> Décroissant </a></li>
                    </ul>
                </li>
                <li class="sous-menu"> <a href="#" class="lien-menu">Catégorie &ensp;</a>
                    <ul>
                        <li> <a href="#"> Vêtements </a></li>
                        <li> <a href="#"> Nutrition </a></li>
                        <li> <a href="#"> Équipement </a></li>
                        <li> <a href="#"> Appareils </a></li>
                    </ul>
                </li>
                <li class="sous-menu"> <a href="#" class="lien-menu">Marque &ensp;</a>
                    <ul>
                        <li> <a href="#"> Décathlon </a></li>
                        <li> <a href="#"> Puma </a></li>
                        <li> <a href="#"> Nike </a></li>
                        <li> <a href="#"> Quechua </a></li>
                        <li> <a href="#"> Domyos </a></li>
                        <li> <a href="#"> Isostar </a></li>
                    </ul>
                </li>
                <li class="sous-menu"> <a href="#" class="lien-menu">État &ensp;</a>
                    <ul>
                        <li> <a href="#"> Croissant </a></li>
                        <li> <a href="#"> Décroissant </a></li>
                    </ul>
                </li>
                <li class="sous-menu"> <a href="#" class="lien-menu">Note &ensp;</a>
                    <ul>
                        <li> <a href="#"> Croissant </a></li>
                        <li> <a href="#"> Décroissant </a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </tri>
    
    <div class="produit-cont">

        <% for (element of liste_produits){ %>
            <div class="catalogue-produit-card">
                <a href="produit/<%= element.id %>" class="lien-produit">
                    
                        
                        <% let marque = element.marque%>
                        <% let modele =element.modele %>
                        <% let prix = element.prix_location %>
                        <% let image = element.img %>
                        <img src="/img/<%= image %>.jpg" class="catalogue-produit-img">
                        <div class="catalogue-produit-info">
                            <strong>
                                <%= marque %> 
                            </strong>
                            <%= modele %>

                            <p class="catalogue-produit-prix">
                                <%= prix %>
                            </p>
                        </div>
                        

                    
                </a>
            </div>
            <% } %>

        </div>

<%- include("../footer") %>