<%- include("header") %>

<body>

    <div class="navbar-reservation">
        <p>Toutes les réservations</p>
        <p>Réservations validées</p>
        <p>Validations non confirmées</p>
        <p>Paiement non effectué</p>
    </div>


    <div class="liste-reservation-cont">

        <% for (let element of liste_resa){ %>
            <div class="backgound-reservation-produit">
                <div class="background-liste-produit">                      
                        <% let marque = element.marque%>
                        <% let modele =element.modele %>
                        <% let nom = marque + " " + modele%>
                        <% let desc = element.description%>
                        <% let prix = element.prix_total %>
                        <% let image = element.image %>
                        <% let date_debut_resa = new Date(element.date_debut) %>
                        <% let login = element.login %>
                        <% let mail = element.email %>
                        <% let date_actu = new Date() %>
                        <% const date_fin = new Date(element.date_retour_prevue); 
                            const jour_fin = String(date_fin.getDate()).padStart(2, '0');
                            const mois_fin = String(date_fin.getMonth() + 1).padStart(2, '0');
                            const annee_fin = date_fin.getFullYear();
                        %>

                        <% const date_debut = new Date(element.date_debut); 
                            const jour_debut = String(date_debut.getDate()).padStart(2, '0');
                            const mois_debut = String(date_debut.getMonth() + 1).padStart(2, '0');
                            const annee_debut = date_debut.getFullYear();
                        %>
                        
                        <div class="image-reservation-produit">
                            <img src="<%= image %>" class="catalogue-produit-img">
                        </div>
                        <div class="card-reservation-produit">
                            <h1 class="titre-produit-reservation"><%= nom %></h1>
                                <p> Réservation effectuée par <%=login%></p>
                                <p> Adresse mail de l'utilisateur : <%=mail%></p>
                                <p><%= desc %></p>
                                <p class="titre-reservation"><%=prix%>€</p>
                                <ul>
                                    <li>
                                        Début de réservation :  <%= `${jour_debut}-${mois_debut}-${annee_debut}` %>
                                    </li>
                                    <li>
                                        fin de réservation prévue :  <%= `${jour_fin}-${mois_fin}-${annee_fin}` %>
                                    </li>
                                </ul>

                            <div class="bouton-reservation-annulation">
                                <button type="submit" class="bouton-reservation">Voir la réservation</button>

                                <% if (date_debut_resa > date_actu) { %>
                                    <form action="/deleteReservation/<%= element.id %>" method="POST">
                                        <button type="submit" class="bouton-annulation">Mettre fin à la réservation</button>
                                    </form>
                                <% } else { %>
                                    <p class="info-indispo">Impossible d'annuler : la réservation a déjà commencé.</p>
                                <% } %>

                            </div>
                        </div>
                    </div>
            </div>
            <% } %>

        </div>

<%- include("../footer") %>