<%- include("header") %>

<body>

    <div class="produit-background">

        <div class="card-produit">
            <img src="<%=produit.image%>" alt="produit">
        </div>
        <div class="elements-card-produit">
            <div class="retour-card-produit">
                <a href="catalogue_categorie.ejs">Retourner en arrière</a>
                <i class="fa-solid fa-arrow-left" style="color: white;"></i>
            </div>
            <h3><%=produit.marque%> <%=produit.modele%></h3>
            <p><%=produit.prix_location%></p>
            <p><%=produit.description%></p>

            
            <h4>Choisir la taille</h4>
                <div class="taille-produit">
                    <div class="taille-produit-border">
                        <p>S</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>M</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>L</p>
                    </div>
                    <div class="taille-produit-border">
                        <p>XL</p>
                    </div>
                </div>

            <button type="submit">Réserver ce produit</button>

        </div>

    </div>

    <h1>Cela pourrait également vous plaire</h1>


    <div class="produit-plaire-cont">
        <% for (element of produit_plaire){ %>
            <div class="catalogue-produit-card">
                <a href="produit/<%= element.id %>" class="lien-produit">
                    
                        
                        <% let marque = element.marque%>
                        <% let modele =element.modele %>
                        <% let prix = element.prix_location %>
                        <% let image = element.image %>
                        <img src="<%= image %>" class="catalogue-produit-img">
                        <div class="catalogue-produit-info">
                            <strong>
                                <%= marque %> 
                            </strong>
                            <%= modele %>

                            <p class="catalogue-produit-prix">
                                <%= prix %>
                            </p>
                        </div>
                        

                    
                </a>
            </div>
            <% } %>

        </div>

    <a href="/gerant/catalogue_produit">
        <div class="voir-plus-produit-centre">
            <button type="submit" class="voir-plus-produit">Voir plus</button>
        </div>
    </a>
</body>

<%- include("../footer") %>