<%- include("header") %>

    <body>
        <h1>Bonjour <%= user.login %>
        </h1>
        <h2 class="titre-profil">Mon historique d'achat</h2>
        <div class="background-historique-profil">
            <img src="/img/produits/Prdt1.png">
            <img src="/img/produits/Prdt10.jpg">
            <img src="/img/produits/Prdt14.jpg">
        </div>


        <div class="background-favoris-profil">
            <h2 class="secondtitre-profil">Mes favoris</h2>
            <div class="background-favoris-profil-image">
                <img src="/img/produits/Prdt28.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
                <img src="/img/produits/Prdt1.png">
            </div>
        </div>

        <div class="background-abonnement-profil">
            <div class="background-abonnement-profil-gauche">
                <h2>Mon abonnement</h2>
                <img src="/img/ranks/VIP.png">

            </div>

            <div class="background-abonnement-profil-droit">
                <p>Ici vous pourrez changer vos informations et votre abonnement si vous le souhaitez</p>
                <button type="submit" class="btn" id="openModifBtn">Changer mes informations</button>
                <a href="abonnement">
                    <button type="submit">Changer mon abonnement</button>
                </a>
            </div>

        </div>
        <div class="modif-profil" id="modifProfil">
            <div class="modifpro">
                <button class="close-btn" id="closeModifBtn">&times;</button>
                <form action="/deco" method="POST">
                    <button type="submit" class="deco">Déconnexion</button>
                </form>
                <h2>Modifier mon profil</h2>
                <form action="/modif_infos" class="form_modif" method="POST">
                    <p><%= user.nom %></p>
                    <input type="text" name="nom" placeholder="   Nom*">
                    <p>
                        <%= user.prenom %>
                    </p>
                    <input type="text" name="prenom" placeholder="   Prénom*">
                    <p>
                        <%= user.ddn %>
                    </p>
                    <input type="age" name="age" placeholder="   Date de naissance*">
                    <p>
                        <%= user.email %>
                    </p>
                    <input type="email" name="mail" placeholder="   Email*">
                    <p>Mot de passe</p>
                    <input type="password" name="mdp" placeholder="   Mot de passe*">
                    <div class="conditions">
                        <p>**1 Majuscule obligatoire</p>
                        <p>**1 Caractère spécial obligatoire</p>
                        <p>**1 chiffre obligatoire</p>
                    </div>
                    <br>
                    <div class="submit">
                        <button type="submit" class="save-btn" id="saveBtn">Confirmer les modification</button>
                    </div>
                </form>
                <form action="/supp-compte" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
                    <button type="submit" class="supp_compte">
                        Supprimer le compte
                    </button>
                </form>
            </div>
        </div>
    </body>

    <%- include("footer") %>


        <script>
            const modif = document.getElementById('modifProfil');
            const openBtn = document.getElementById('openModifBtn');
            const closeBtn = document.getElementById('closeModifBtn');

            openBtn.addEventListener('click', function () {
                modif.classList.add('active');
            });

            closeBtn.addEventListener('click', function () {
                modif.classList.remove('active');
            });

        </script>